
body{
    background-color: black;
}

.container{
    margin: 0 auto auto auto;
    position: fixed;
}

.glCanvas{
    border: none;
}

.vBox{

    position: absolute;
    float: left;
    height: 60px;
    width: 250px;
    text-align: center;
    border: groove 12px indigo;
    background-color: darkgray;
    clear: both;
}

.waypointBtn{
    position: absolute;
    z-index: 1;
    left: 10px;
}